.App {
  text-align: center;
  height: 90vh;
  position: relative;
  padding-bottom: 10vh;
}

.App-header {
  background-color: #1769aa;
  min-height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

#markers {
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #1769aa;
  width: 100%;
  height: 10vh;
}

.next-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
}

.back-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px;
}

.MuiBox-root p {
  margin: 0 20px;
}

.MuiListItemText-root {
  text-align: left;
}

#review {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none !important;
}